body {
    background: #cff;
}
.wrap-feed {
	overflow: hidden;
	position: relative;
	height: 210px;
    width: 50%;
    margin: 0 auto;
}
.wrap-arrows {
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.feed-news:hover .feed-news-title {
	text-decoration: none;
}
.feed-news {
    list-style: none;
    float: left;
    margin: 0 20px;
    padding: 21px 0;
}
.feed-news a {
    display: block;
}
.header-bottom-feed {
	position: absolute;
	display:block;
    padding: 0;
	width:5002px;
    cursor:pointer;
}
.feed-news-has-video {
    background: #373737;
    color:  #fff;
    padding: 0px 10px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}
.feed-news-title {
    font-size: 1.3em;
    padding-bottom: 4px;
    display: inline-block;
    text-decoration: underline;
    color: #373737;
}
.btn {
    position: absolute;
    z-index: 999;
    width: 40px;
    border:none;
    cursor: pointer;
    outline: none;
    height: 40px;
    background: url(../i/markup/sprite.png) no-repeat;
    top: 40%;
}
.left-btn {
    left: -5px;
    background-position: 10px 3px; 
}
.right-btn {
    right: -5px;
    background-position: -24px 3px; 
}