.wrap-feed {
	border-bottom: 1px dashed #000;
	overflow: hidden;
	position: relative;
	height: 60px;
}
.feed-news:hover .feed-news-title {
	text-decoration: none;
}
.feed-news {
    float: left;
    margin: 0 20px 0 10px;
    padding: 20px 0;
    position: absolute;
    left: 0px;
    padding-right:20px;
}
.header-bottom-feed {
	position: relative;
	display:block;
	width:5000px;
}
.feed-news-has-video {
    background: #373737;
    color:  #fff;
    padding: 0px 10px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}
.feed-news-title {
    font-size: 1.3em;
    padding-bottom: 4px;
    display: inline-block;
    text-decoration: underline;
    color: #373737;
}